---
layout: default
title: Civic Futures Awards / Central Texas
nav-title: Awards
permalink: /awards
body-class: home
---

<div class="illus__sky">
  <div class="l-wrapper__flex u__container">

    {% include header.html %}

    <main id="content" class="main__content u__spacing pb-0" style="min-width:70%">
      <div id="moving-panels">
        <!-- {% include landscape.html %} -->
      </div>
      <article class="main__article intro">
        <header class="intro__header">
        </header>
        <h3>&nbsp;</h3>
      </article>
    </main>
  </div>
</div>


<section id="about" class="pt-4 s__gray">
  <article class="u__container">

    <div class="u__spacing">
      <div class="row">




        <div class="col-md-6 col-lg-6 pt-4 mt-2">
          <h2 class="h1 pt-4">celebrating the future of state and local government</h2>
          <p class="lead">The Civic Futures Awards is recognizing our colleagues across Central Texas who are shaping the future we want to create across state and local government</p>
          <!-- <p>we're recognizing teams and individuals leading some our best work across six categories</p> -->
        </div>

        <div class="col-md-5 col-lg-5">
          <img src="{{ '/' | relative_url }}assets/img/civic-futures-awards.png" class="mw-100 pb-2" alt="Civic Futures Awards Trophy" aria-hidden="true">
        </div>

      </div>



    </div>



  </article>
</section>



<section id="locations" class="u__vspacing s__gray">
  <article class="u__container px-0">


    <div class="u__spacing">
      <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

      <div class="container px-0">
        <div class="row">


          <div class="col-sm pb-sm-2">
            <a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101"><img class="phase-image" src="{{ '/' | relative_url }}assets/img/adler-awards.jpg" alt="" aria-hidden="true" /></a>
          </div>

          <div class="col-sm pb-sm-2">

            <h3 class="h3 pt-4">new central library</h3>
            <h5 class="h5 mb-2">wednesday, october 2nd, 6pm</h5>
            <p><a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101">710 w cesar chavez st, austin</a></p>

            <!-- <a class="button-text-yo mx-auto pt-2" href="https://www.eventbrite.com/e/civic-futures-awards-central-texas-tickets-73352843329"><button class="btn btn-primary mc__button mx-auto text-center text-white mb-2">register on eventbrite</button></a> -->

            <p class="pr-4">doors opened at 5pm at austin's <a href="https://library.austintexas.gov/central-library"></a>new central library, recently featured as one of the <a href="https://time.com/collection/worlds-greatest-places-2018/">world's greatest places</a> by TIME magazine</p>
            <p class="pr-4">refreshments and cash bar, free and open to the public</p>


          </div>




        </div>
      </div>
      </div>



      <!-- <p>For folks coming in from further away, <a href="http://carpenterhotel.com/">The Hotel Carpenter</a>, <a href="https://www.hyatt.com/en-US/hotel/texas/hyatt-regency-austin/ausra">Hyatt Regency</a>, and <a href="https://www.stayalfred.com/city/austin-vacation-rentals">Stay Alfred</a> are all reasoably priced and nearby</p> -->

  </article>
</section>



<section id="about" class="u__vspacing s__gray pt-2">
  <article class="u__container">

      <div class="row">
        <h3 class="h3 pt-2 text-center mx-auto p-4  mb-4 border-top border-bottom border-dark">this year's categories</h3>
      </div>

      <div class="row">


        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Unlocking Human Potential</h3>
          <p>How do we bring out the full potential of our employees? </p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">The Workplaces of the Future</h3>
          <p>What does the future of work look like? What needs to change?</p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Privacy and Data Ethics</h3>
          <p>How can we use data ethically and protect the privacy of the residents we serve?</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Procurement and Vendor Ethics</h3>
          <p>How do we partner with vendors while ensuring ethical standards and municipal purpose?</p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Designing for the 100%</h3>
          <p>How do we design and deliver services are accessible for all of our residents?</p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Community Inclusion & Engagement</h3>
          <p>How do we engage with residents in ways that are inclusive, meaningful, and sustainable?</p>
        </div>
      </div>





  </article>
</section>



<section id="register-now" class="u__vspacing s__white">
  <article class="u__container">

    <div class="row">
      <h3 class="h3 pt-2 text-center mx-auto p-4 border-top border-bottom border-dark">this year's honorees</h3>

    </div>

    <div class="u__spacing">



      <div class="row mx-auto">

        <div class="col-md-8 col-lg-8 mx-auto">

          <p class="lead text-center">thank you to everyone who joined us for the civic futures awards</p>
          <p class="text-center">we're excited to feature the work of the following teams</p>

        </div>
      </div>
    </div>


    <div class="container u__spacing team py-0">
      <div class="row">
        {% for member in site.team %}
          {% if page.title != member.title %}
            {% include team-teaser.html %}
          {% endif %}
        {% endfor %}
      </div>
    </div>

  </article>
</section>









      <div id="closing-panels">
        &nbsp;
      </div>

      <!-- <section id="updates" class="u__vspacing s__blue target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h2 class="h2">get updates</h2>
              <p class="lead">sign up to get updates on speakers, workshops, and nominees</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section> -->
