---
layout: default
title: Civic Futures Awards / Central Texas
<!-- nav-title: Awards -->
<!-- permalink: /awards -->
body-class: home
---

<div class="illus__sky">
  <div class="l-wrapper__flex u__container">

    {% include header.html %}

    <main id="content" class="main__content u__spacing pb-0" style="min-width:70%">
      <div id="moving-panels">
        <!-- {% include landscape.html %} -->
      </div>
      <article class="main__article intro">
        <header class="intro__header">
        </header>
        <h3>&nbsp;</h3>
      </article>
    </main>
  </div>
</div>


<section id="about" class="pt-4 s__gray">
  <article class="u__container">

    <div class="u__spacing">
      <div class="row">




        <div class="col-md-6 col-lg-6 pt-4 mt-2">
          <h2 class="h1 pt-4">celebrating the future of state and local government</h2>
          <p class="lead">The Civic Futures Awards is recognizing our colleagues across Central Texas who are shaping the future we want to create across state and local government</p>
          <!-- <p>we're recognizing teams and individuals leading some our best work across six categories</p> -->
        </div>

        <div class="col-md-5 col-lg-5">
          <img src="{{ '/' | relative_url }}assets/img/civic-futures-awards.png" class="mw-100 pb-2" alt="Civic Futures Awards Trophy" aria-hidden="true">
        </div>

      </div>



    </div>



  </article>
</section>



<section id="locations" class="u__vspacing s__gray">
  <article class="u__container px-0">


    <div class="u__spacing">
      <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

      <div class="container px-0">
        <div class="row">


          <div class="col-sm pb-sm-2">
            <a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101"><img class="phase-image" src="{{ '/' | relative_url }}assets/img/austin-central-taller.jpg" alt="" aria-hidden="true" /></a>
          </div>

          <div class="col-sm pb-sm-2">

            <h3 class="h3 pt-4">new central library</h3>
            <h5 class="h5 mb-2">wednesday, october 2nd, 6pm</h5>
            <p><a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101">710 w cesar chavez st, austin</a></p>

            <a class="button-text-yo mx-auto pt-2" href="https://www.eventbrite.com/e/civic-futures-awards-central-texas-tickets-73352843329"><button class="btn btn-primary mc__button mx-auto text-center text-white mb-2">register on eventbrite</button></a>

            <p class="pt-4 pr-4">join us at austin's <a href="https://library.austintexas.gov/central-library"></a>new central library, recently featured as one of the <a href="https://time.com/collection/worlds-greatest-places-2018/">world's greatest places</a> by TIME magazine</p>


          </div>




        </div>
      </div>
      </div>



      <!-- <p>For folks coming in from further away, <a href="http://carpenterhotel.com/">The Hotel Carpenter</a>, <a href="https://www.hyatt.com/en-US/hotel/texas/hyatt-regency-austin/ausra">Hyatt Regency</a>, and <a href="https://www.stayalfred.com/city/austin-vacation-rentals">Stay Alfred</a> are all reasoably priced and nearby</p> -->

  </article>
</section>



<!-- <section id="together" class="u__vspacing s__gray">
  <article class="u__container px-0">


    <div class="u__spacing pb-0">
      <div class="row">
        <h3 class="h3 pt-2 text-center mx-auto p-4  mb-4 border-top border-bottom border-dark">bringing together the community</h3>
      </div>
    </div>


    <div class="u__spacing">

      <div class="row mx-auto">

        <div class="col-md-8 col-lg-8 pt-4 mx-auto">
          <video width="100%" height="auto" controls>
              <source src="decibel-klru.mp4" type="video/mp4">
              </video>
          <p class="lead text-center">Rich Reddick from UT's College of Education and Ben Guhin from the City of Austin chat with KLRU's Judy Maggio about the Civic Futures Awards</p>
        </div>
      </div>
    </div>



  </article>
</section> -->



<!-- <section id="about" class="u__vspacing s__gray pt-2">
  <article class="u__container">

      <div class="row">
        <h3 class="h3 pt-2 text-center mx-auto p-4  mb-4 border-top border-bottom border-dark">this year's nominees</h3>
      </div>

      <div class="row">
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Breaking Down Organizational Silos for Shared Tools</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Building Capacity and Culture for Design & Technology Talent </h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Community-Driven Sustainable Energy</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Computer-Aided Dispatch for Regional Public Safety</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Design Lab for Improving City Processes</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Digital services that grow and adapt with resident needs</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Electric Vehicles for Schools</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Ensuring Privacy with Data Around Homelessness</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Evaluating Tech Pilots for Equity, Efficiency, and Transparency</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Grants for Equity and Inclusion</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Improving Police Oversight through Community Collaboration</h3>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Community Inclusion for Parks & Recreation</h3>
        </div>
      </div>

  </article>
</section> -->


<section id="about" class="u__vspacing s__gray pt-2">
  <article class="u__container">

      <div class="row">
        <h3 class="h3 pt-2 text-center mx-auto p-4  mb-4 border-top border-bottom border-dark">this year's nominees</h3>
      </div>

        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Breaking Down Organizational Silos for Shared Tools</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Building Capacity and Culture for Design & Technology Talent </h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Community-Driven Sustainable Energy</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Computer-Aided Dispatch for Regional Public Safety</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Breaking Down Organizational Silos for Shared Tools</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Building Capacity and Culture for Design & Technology Talent </h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Community-Driven Sustainable Energy</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Computer-Aided Dispatch for Regional Public Safety</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Breaking Down Organizational Silos for Shared Tools</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Building Capacity and Culture for Design & Technology Talent </h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Community-Driven Sustainable Energy</h3>
        </div>
        <div class="col-md-3 col-sm-6 pb-sm-2 s__white p-4 mr-2 ml-2 mb-2">
          <h3 class="h5">Computer-Aided Dispatch for Regional Public Safety</h3>
        </div>


  </article>
</section>



<section id="awards" class="u__vspacing s__white">
  <article class="u__container">

    <div class="row">
      <h3 class="h3 pt-2 text-center mx-auto p-4  mb-4 border-top border-bottom border-dark">join us on october 2nd</h3>

    </div>

    <div class="u__spacing">



      <div class="row mx-auto">

        <div class="col-md-8 col-lg-8 pt-4 mx-auto">

          <p class="lead text-center">the civic futures awards is the closing event of our civic futures summit, and is free and open to the public</p>
          <div class="mx-auto text-center">
          <a class="button-text-yo mx-auto" href="https://www.eventbrite.com/e/civic-futures-awards-central-texas-tickets-73352843329"><button class="btn btn-primary mc__button mx-auto text-center text-white">register on eventbrite</button></a>
          </div>
        </div>
      </div>
    </div>

  </article>
</section>









      <div id="closing-panels">
        &nbsp;
      </div>

      <!-- <section id="updates" class="u__vspacing s__blue target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h2 class="h2">get updates</h2>
              <p class="lead">sign up to get updates on speakers, workshops, and nominees</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section> -->
