---
layout: default
title: Civic Futures Awards
nav-title: Awards
permalink: /awards
body-class: home
---

<div class="illus__sky">
  <div class="l-wrapper__flex u__container">

    {% include header.html %}

    <main id="content" class="main__content u__spacing pb-0" style="min-width:70%">
      <div id="moving-panels">
        <!-- {% include landscape.html %} -->
      </div>
      <article class="main__article intro">
        <header class="intro__header">
        </header>
        <h3>&nbsp;</h3>
      </article>
    </main>
  </div>
</div>


<section id="about" class="u__vspacing s__gray">
  <article class="u__container">

    <div class="u__spacing">
      <div class="row">
        <div class="col-md-5 col-lg-5">
          <img src="{{ '/' | relative_url }}assets/img/civic-futures-awards.png" class="mw-100 pb-2" alt="Civic Futures Awards Trophy" aria-hidden="true">
        </div>
        <div class="col-md-6 col-lg-6 pt-4 mt-2">
          <h2 class="h1 pt-2">celebrating the future of state and local government</h2>
          <p class="lead">The Civic Futures Awards is recognizing our colleagues across Central Texas who are shaping the future we want to create across state and local government</p>
          <p>Now through August 23rd, we’re seeking nominations for teams and individuals leading some our best work across six categories</p>
        </div>
      </div>



    </div>



  </article>
</section>


<section id="about" class="u__vspacing s__gray pt-2">
  <article class="u__container">

      <div class="row">
        <h3 class="h3 pt-2 text-center mx-auto p-4  mb-4 border-top border-bottom border-dark">this year's awards</h3>
      </div>

      <div class="row">


        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Unlocking Human Potential</h3>
          <p>How do we bring out the full potential of our employees? </p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">The Workplaces of the Future</h3>
          <p>What does the future of work look like? What needs to change?</p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Privacy and Data Ethics</h3>
          <p>How can we use data ethically and protect the privacy of the residents we serve?</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Procurement and Vendor Ethics</h3>
          <p>How do we partner with vendors while ensuring ethical standards and municipal purpose?</p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Designing for the 100%</h3>
          <p>How do we design and deliver services are accessible for all of our residents?</p>
        </div>
        <div class="col-sm pb-sm-2 s__white p-4 mr-4 ml-4 mb-4">
          <h3 class="h4">Community Inclusion & Engagement</h3>
          <p>How do we engage with residents in ways that are inclusive, meaningful, and sustainable?</p>
        </div>
      </div>

    </div>



  </article>
</section>



<section id="awards" class="u__vspacing s__white">
  <article class="u__container">

    <div class="u__spacing">
      <div class="row mx-auto">

        <div class="col-md-8 col-lg-8 pt-4 mx-auto">
          <h2 class="h2 text-center">nominations are open through August 23rd</h2>

          <p class="text-center">open to all individuals and teams who are working for a government or university across central texas</p>
          <div class="mx-auto text-center">
          <a class="button-text-yo mx-auto" href="http://bit.ly/civic-futures-awards-nominate"><button class="btn btn-primary mc__button mx-auto text-center">nominate a person or team</a>
          </div>
        </div>
      </div>
    </div>

  </article>
</section>









      <div id="closing-panels">
        &nbsp;
      </div>

      <!-- <section id="updates" class="u__vspacing s__blue target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h2 class="h2">get updates</h2>
              <p class="lead">sign up to get updates on speakers, workshops, and nominees</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section> -->
