---
layout: default
title: Civic Futures Summit / Central Texas - October 1-2, 2019
nav-title: Home
permalink: /
body-class: home
---

<div class="illus__sky">
  <div class="l-wrapper__flex u__container">

    {% include header.html %}

    <main id="content" class="main__content u__spacing pb-0" style="min-width:70%">
      <div id="moving-panels">
        <!-- {% include landscape.html %} -->
      </div>
      <article class="main__article intro">
        <header class="intro__header">
          <h1 class="display-3">civic futures summit</h1>
        </header>
        <h3 class="h4" style="font-weight: 600;">Central Texas  /  October 1st-2nd, 2019</h3>
        <h3>&nbsp;</h3>
      </article>
    </main>
  </div>
</div>


<section id="about" class="u__vspacing s__light">
  <article class="u__container">

    <div class="u__spacing">
      <div class="row">
        <div class="col-md-9 col-lg-8">
          <h2 class="h2">the skills we need for the future of state and local government</h2>
          <p class="lead">join governments and universities across central texas for two days of speakers and workshops introducing new approaches to design, technology, procurement, and evidence-based government</p>
        </div>
      </div>
    </div>



  </article>
</section>





      <section id="overview" class="u__vspacing s__green">
        <article class="u__container">

          <div class="u__spacing">
            <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

            <div class="container">
              <div class="row">
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/summit-workshops.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Tues, October 1st, <a href="https://www.google.com/maps/place/Palmer+Events+Center/@30.2606108,-97.7528576,15z/data=!4m5!3m4!1s0x0:0x241c04637e53339b!8m2!3d30.2606108!4d-97.7528576">Palmer Events Center</a></h5>
                  <h3 class="h4">workshops on new methods and approaches</h3>
                  <p>five tracks of workshops including design, emerging technologies, procurement, accessibility, and evidence-based government</p>
                  <p><a href="/schedule">see the lineup</a></p>
                </div>
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/summit-mainstage.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Wed, October 2nd, <a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101">Austin New Central Library</a></h5>
                  <h3 class="h4">mainstage sessions for a shared conversation</h3>
                  <p>speakers from across the region and around the world sharing insights on the future of technology, partnerships, and experimentation in government</p>
                  <p><a href="/schedule#mainstage">see the lineup</a></p>
                </div>
                <div class="col-sm pb-sm-2">
                  <img class="phase-image" src="{{ '/' | relative_url }}assets/img/summit-awards.png" alt="" aria-hidden="true" />
                  <h5 class="h6">Wed, October 2nd, <a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101">Austin New Central Library</a></h5>
                  <h3 class="h4">an evening celebrating the work of civil servants</h3>
                  <p>the Civic Futures Awards is recognizing teams and individuals across central texas who are shaping the future of state and local government</p>
                  <p><a href="/awards">learn more</a></p>
                </div>
              </div>
            </div>

        </article>
      </section>


      <section id="register" class="u__vspacing s__white">
        <article class="u__container">

          <div class="u__spacing">
            <div class="row">
              <div class="col-md-9 col-lg-8">
                <h2 class="h2">get tickets</h2>
                <p class="lead">the summit is open to anyone who is currently an employee of a government or non-profit academic institution. join us for two days of new connections and practical training on supporting accessibility and leveraging the technologies of the future</p>
                <p>If you need to pay using a different method, use code ASKMELATER in Eventbrite or send us an email at summit@civicfutures.io</p>
                <a class="button-text-yo" href="https://www.eventbrite.com/e/civic-futures-summit-central-texas-tickets-64739719243"><button class="btn btn-primary mc__button">register on eventbrite</a>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-3 col-lg-4">
                <h3 class="">founding partners</h3>
                <img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-building-coalitions.svg" alt="" aria-hidden="true" />
                <img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-building-coalitions.svg" alt="" aria-hidden="true" />
              </div>
            </div> -->
          </div>

        </article>
      </section>


      <section id="overview" class="u__vspacing s__gray">
        <article class="u__container">


          <div class="u__spacing">
            <div class="row">
              <div class="col-md-9 col-lg-8">
                <h2 class="h2">locations</h2>
                <p class="lead">join us in two of austin's most beautiful event spaces, including the <a href="https://library.austintexas.gov/central-library"></a>new central library, recently featured as one of the <a href="https://time.com/collection/worlds-greatest-places-2018/">world's greatest places</a> by TIME magazine</p>
              </div>
            </div>
          </div>


          <div class="u__spacing">
            <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

            <div class="container">
              <div class="row">
                <div class="col-sm pb-sm-2">

                  <h5 class="h6">tues, october 1st

                  <a href="https://www.google.com/maps/place/Palmer+Events+Center/@30.2606108,-97.7528576,15z/data=!4m5!3m4!1s0x0:0x241c04637e53339b!8m2!3d30.2606108!4d-97.7528576"><img class="phase-image" src="{{ '/' | relative_url }}assets/img/palmer-center.jpg" alt="" aria-hidden="true" /></a>
                  <h3 class="h4">palmer events center</h3>
                  <p><a href="https://www.google.com/maps/place/Palmer+Events+Center/@30.2606108,-97.7528576,15z/data=!4m5!3m4!1s0x0:0x241c04637e53339b!8m2!3d30.2606108!4d-97.7528576">900 barton springs, austin</a></p>

                </div>
                <div class="col-sm pb-sm-2">
                  <h5 class="h6">wed, october 2nd</h5>
                  <a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101"><img class="phase-image" src="{{ '/' | relative_url }}assets/img/austin-central-library.jpg" alt="" aria-hidden="true" /></a>
                  <h3 class="h4">new central library</h3>
                  <p><a href="https://www.google.com/maps/place/Austin+Central+Library,+Austin+Public+Library/@30.2660439,-97.7542897,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b50fdcb160bd:0x6a1f19008170521c!8m2!3d30.2660439!4d-97.752101">710 w cesar chavez st, austin</a></p>
                </div>
              </div>
            </div>

        </article>
      </section>


      <section id="speakers" class="u__vspacing s__light">

        <article class="u__container">

          <div class="u__spacing">
            <div class="row">
              <div class="col-md-9 col-lg-8">
                <h2 class="h2">speakers joining us</h2>
                <!-- <p class="lead">we're be joined by some awesome outside speakers</p> -->
              </div>
            </div>
          </div>


          <div class="u__spacing">
            <div class="row pb-4" id="indy-johar">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/indy.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Indy Johar</h4>
                <h6>Co-founder of <a href="https://www.project00.cc/">00</a> & <a href="http://darkmatterlabs.org/">Dark Matter Labs</a></h6>
                <p>Indy is a London-based architect who helps multinational companies and institutions transition to a positive systems economy. He's a co-author of the UK's <a href="https://www.nesta.org.uk/report/a-compendium-for-the-civic-economy/">Compendium for the Civic Economy</a>, and supports experiments around open-source architecture, public-private partnerships, and new forms of governance.</p>
              </div>
            </div>

            <div class="row pb-4" id="jen-sukis">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/sukis.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Jen Sukis</h4>
                <h6>Adjunct Professor, University of Texas</h6>
                <p>Jen works at the intersection of user-centered design and artificial intelligence, leading the creative team for IBM Watson and teaching <a href="https://medium.com/advanced-design-for-ai/syllabus-for-advanced-design-for-artificial-intelligence-62093e93ce44">Advanced Design for AI</a> at UT’s Center for Integrated Design, enabling strategists, designers, and engineers to use cognitive tools to create transformative AI experiences.</p>
              </div>
            </div>

            <div class="row pb-4" id="chris-shorter">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/shorter.png" class="mw-100 pb-2" alt="Photo of Chris Shorter" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Chris Shorter</h4>
                <h6>Assistant City Manager, City of Austin</h6>
                <p>Chris is Assistant City Manager for the City of Austin's Strategic Outcome Areas around Health, Environment, Culture, and Lifelong Learning. Previously, he served as Director of Public Works for the District of Columbia and in positions across DC's Departments of Health, Education, and Youth Rehabilitation Services.</p>
              </div>
            </div>


            <!-- <div class="row pb-4" id="paul-stey">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/stey.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Paul Stey</h4>
                <h6>Director of Data Science, Brown University</h6>
                <p>Paul leads data science practices at Brown University, supporting data-intensive computing, machine learning, informatics, and analytics in collaboration with governments at the state and local level.  He was previously a Mathematical Statistician for the US Environmental Protection Agency (EPA).
</p>
              </div>
            </div> -->









            <div class="row pb-4" id="mari-nakano">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/mari.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Mari Nakano</h4>
                <h6>Design Director, NYC Service Design Studio</h6>
                <p>Mari leads the <a href="https://www1.nyc.gov/assets/servicedesign/">Service Design Studio</a> for the New York City Mayor's Office of Economic Opportunity, which uses evidence-based research and innovation to and decrease poverty and increase equity in New York City. She was previously design & interaction lead for the Office of Innovation at UNICEF.</p>
              </div>
            </div>

            <div class="row pb-4" id="david-yokum">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/yokum.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>David Yokum</h4>
                <h6>Director, The Policy Lab</h6>
                <p>David leads <a href="https://thepolicylab.brown.edu/">The Policy Lab</a> at Brown University, which is introducing a new model for academic research in state and local government. He was previously a founding member of the White House Social & Behavioral Sciences Team and director of <a href="https://thelab.dc.gov/">The Lab @ DC</a>, one of the first scientific labs within a local government.</p>
              </div>
            </div>





            <div class="row pb-4 pl-4 pt-4" id="view-all">
              <a href="/schedule"><h4>Check out all of the sessions</h4></a>


            </div>







          </div>


        </article>


      </section>







      <div id="closing-panels">
        &nbsp;
      </div>

      <!-- <section id="updates" class="u__vspacing s__blue target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h2 class="h2">get updates</h2>
              <p class="lead">sign up to get updates on speakers, workshops, and nominees</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section> -->
