---
layout: default
title: Civic Futures Summit / Central Texas - October 1-2, 2019
nav-title: Home
permalink: /
body-class: home
---

<div class="illus__sky">
  <div class="l-wrapper__flex u__container">

    {% include header.html %}

    <main id="content" class="main__content u__spacing pb-0" style="min-width:70%">
      <div id="moving-panels">
        <!-- {% include landscape.html %} -->
      </div>
      <article class="main__article intro">
        <header class="intro__header">
          <h1 class="display-3">civic futures summit</h1>
        </header>
        <h3 class="h4" style="font-weight: 600;">Central Texas  /  October 1st-2nd, 2019</h3>
        <h3>&nbsp;</h3>
      </article>
    </main>
  </div>
</div>


<section id="about" class="u__vspacing s__light">
  <article class="u__container">

    <div class="u__spacing">
      <div class="row">
        <div class="col-md-9 col-lg-8">
          <h2 class="h2">what's our civic future?</h2>
          <p class="lead">we’re bringing together governments and universities across central texas to share skills and ideas for the future of state and local government</p>
        </div>
      </div>
    </div>



  </article>
</section>





      <section id="overview" class="u__vspacing s__green">
        <article class="u__container">

          <div class="u__spacing">
            <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm pb-sm-2">
                  <h5 class="h6">Morning session, October 1st</h5>
                  <h5 class="h5">Leveraging Data Science, AI, and Machine Learning in Government</h5>
                  <p>How should governments be thinking about Artificial Intelligence, Data Science, and Machine Learning, and what do we need to know as managers and practitioners to responsibly leverage these opportunities? This session will provide an overview of the current state of these methods and technologies, with case studies of the successes (and missteps) of governments at the state and local level. We’ll talk about the ways that these technologies can help governments scale their impact, while also getting into the details around the risks of bias, bad data, and algorithmic decision-making.</p>
                  <p>This session is designed for managers and practitioners working at governments and universities, including division managers, data analysts, and subject matter experts.
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                  <h5 class="h6">About the facilitator</h5>
                  <p>Kevin Wilson, PhD, is the Head of Data Science for The Policy Lab at Brown University, where he partners with state and local government agencies in Rhode Island and across the US. He previously served as Senior Data Scientist for The Lab @ DC for the state and local government of Washington, D.C., and Principal Data Scientist for the adaptive learning platform Knewton.</p>
                </div>

              </div>
              <div class="row">

                <div class="col-md-6 col-lg-6 col-sm pb-sm-2">
                  <h5 class="h6">Morning session, October 1st</h5>
                  <h5 class="h5">Buying Technology That Works: How to Evaluate Technologies and Support The Platforms of the Future</h5>
                  <p>Have you ever been locked into a specific vendor or technology contract, with no room to change based on results that didn’t meet your expectations? Or seen a product delivered that wasn’t actually usable for the people it was intended to serve? In this unique setting with only employees of governments and universities, we’ll share toolkits, guidance, and practices you can use to better scope, evaluate, and de-risk technology projects and make them more sustainable, adaptable, and human-centered.</p>
                  <p>This session is designed for managers and practitioners working at governments and universities, including division managers, data analysts, and subject matter experts.
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                  <h5 class="h6">About the facilitators</h5>
                  <p>Daniel Honker leads the Policy Lab in the City of Austin’s Office of Design & Delivery where he focuses on using technology to produce better and more equitable outcomes for people in Austin. He was previously Portfolio Manager for Austin’s Office of Innovation and helped Federal Government agencies improve performance, open government, and use data in decision making. </p>
                  <p>Andrew Do is a Service Designer with the City of Austin’s Office of Design & Delivery and former Policy Analyst for the Brookfield Institute for Innovation + Entrepreneurship in Toronto.</p>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6 col-lg-6 col-sm pb-sm-2">
                  <h5 class="h6">Morning session, October 1st</h5>
                  <h5 class="h5">Building the Infrastructure for Evidence-Based Government</h5>
                  <p>It’s not uncommon to want government to be “evidence-based” but what does that actually mean in practice? Join David Yokum, who’s led efforts at the federal, state, and local level to bring scientific research to policymaking on efforts spanning public works, early childhood education, public health, and public safety, including the world’s largest field study of police body-worn cameras. This session will speak to the social, political, and technical infrastructures that are necessary for evidence-based government to be successful, with case studies on how this works for elected officials, department directors, university researchers, and members of community organizations.</p>
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                  <h5 class="h6">About the facilitator</h5>
                  <p>David Yokum, JD, PhD, is a cognitive neuroscientist and Director of The Policy Lab at Brown University, where he leads initiatives to leverage scientific methods to improve public policy and operations, working directly with state and local government agencies in Rhode Island and across the country. He was previously the founding Director of The Lab @ DC in the state and local government of Washington, DC, a founding member of the White House Social & Behavioral Sciences Team under President Obama, and Director of the Office of Evaluation Sciences in the U.S. General Services Administration.</p>
                </div>

              </div>
              <div class="row">

                <div class="col-md-6 col-lg-6 col-sm pb-sm-2">
                  <h5 class="h6">Morning session, October 1st</h5>
                  <h5 class="h5">Tools & Tactics for Service Design & Design Thinking</h5>
                  <p>Join the leaders of Austin’s Service Design Lab and New York City’s Service Design Studio for a workshop on the tools and tactics of user research, service design, and design thinking. Participants will receive an overview of these growing fields, experience practicing a range of methods, and tools and templates to bring back to work the next day.</p>
                  <p>This session is designed for managers and practitioners working at governments and universities, including division managers, data analysts, and subject matter experts.
                  </p>
                </div>
                <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                  <h5 class="h6">About the facilitators</h5>
                  <p>Chris Luedtke is the Service Design Practices Lead for the Service Design Lab in the City of Austin’s Office of Design & Delivery</p>
                  <p>Mari Nakano is Design Director for the Service Design Studio in the New York City Mayor's Office of Economic Opportunity</p>
                </div>

              </div>


            </div>

        </article>
      </section>



      <section id="speakers" class="u__vspacing s__gray">

        <article class="u__container">

          <div class="u__spacing">
            <div class="row">
              <div class="col-md-9 col-lg-8">
                <h2 class="h2">speakers joining us</h2>
                <!-- <p class="lead">we're be joined by some awesome outside speakers</p> -->
              </div>
            </div>
          </div>


          <div class="u__spacing">
            <div class="row pb-4" id="indy-johar">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/indy.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Indy Johar</h4>
                <h6>Co-founder of <a href="https://www.project00.cc/">00</a> & <a href="http://darkmatterlabs.org/">Dark Matter Labs</a></h6>
                <p>Indy is a London-based architect who helps multinational companies and institutions transition to a positive systems economy. He's a co-author of the UK's <a href="https://www.nesta.org.uk/report/a-compendium-for-the-civic-economy/">Compendium for the Civic Economy</a>, and supports experiments around open-source architecture, public-private partnerships, and new forms of governance.</p>
              </div>
            </div>

            <div class="row pb-4" id="jen-sukis">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/sukis.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Jen Sukis</h4>
                <h6>Adjunct Professor, University of Texas</h6>
                <p>Jen works at the intersection of user-centered design and artificial intelligence, leading the creative team for IBM Watson and teaching <a href="https://medium.com/advanced-design-for-ai/syllabus-for-advanced-design-for-artificial-intelligence-62093e93ce44">Advanced Design for AI</a> at UT’s Center for Integrated Design, enabling strategists, designers, and engineers to use cognitive tools to create transformative AI experiences.</p>
              </div>
            </div>


            <!-- <div class="row pb-4" id="paul-stey">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/stey.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Paul Stey</h4>
                <h6>Director of Data Science, Brown University</h6>
                <p>Paul leads data science practices at Brown University, supporting data-intensive computing, machine learning, informatics, and analytics in collaboration with governments at the state and local level.  He was previously a Mathematical Statistician for the US Environmental Protection Agency (EPA).
</p>
              </div>
            </div> -->





            <div class="row pb-4" id="david-yokum">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/yokum.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>David Yokum</h4>
                <h6>Director, The Policy Lab</h6>
                <p>David leads <a href="https://thepolicylab.brown.edu/">The Policy Lab</a>, which is introducing a new model for academic research in state and local government. He was previously a founding member of the White House Social & Behavioral Sciences Team and director of <a href="https://thelab.dc.gov/">The Lab @ DC</a>, one of the first scientific labs within a local government.</p>
              </div>
            </div>



            <div class="row pb-4" id="mari-nakano">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/mari.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Mari Nakano</h4>
                <h6>Design Director, NYC Service Design Studio</h6>
                <p>Mari leads the <a href="https://www1.nyc.gov/assets/servicedesign/">Service Design Studio</a> for the New York City Mayor's Office of Economic Opportunity, which uses evidence-based research and innovation to and decrease poverty and increase equity in New York City. She was previously design & interaction lead for the Office of Innovation at UNICEF.</p>
              </div>
            </div>


            <div class="row pb-4" id="jake-dunagan">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/jake.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-6 col-lg-6">
                <h4>Jake Dunagan</h4>
                <h6>Director, Governance Futures Lab</h6>
                <p>Jake is an experiential futurist, governance designer, and teacher. He leads the Governance Futures Lab at the <a href="http://www.iftf.org/home/">Institute for the Future</a>, which brings together futures thinkers, technologists, philanthropists, designers, policymakers, and social innovators to re-imagine government for the 21st century.</p>
              </div>
            </div>







          </div>


        </article>


      </section>


      <section id="register" class="u__vspacing s__white">
        <article class="u__container">

          <div class="u__spacing">
            <div class="row">
              <div class="col-md-9 col-lg-8">
                <h2 class="h2">get tickets</h2>
                <p class="lead">the summit is open to anyone who is currently an employee of a government or non-profit academic institution. join us for two days of sharing approaches, exploring new collaborations, and celebrating work across the region</p>
                <p>City of Austin employees can register internally through <a href="https://apps.austintexas.gov/training/students/class_details.cfm?class_id=3292601">TRAIN</a></p>
                <a class="button-text-yo" href="https://www.eventbrite.com/e/civic-futures-summit-central-texas-tickets-64739719243?aff=summitwebsite"><button class="btn btn-primary mc__button">register on eventbrite</a>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-3 col-lg-4">
                <h3 class="">founding partners</h3>
                <img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-building-coalitions.svg" alt="" aria-hidden="true" />
                <img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-building-coalitions.svg" alt="" aria-hidden="true" />
              </div>
            </div> -->
          </div>

        </article>
      </section>


      <section id="awards" class="u__vspacing s__gray">
        <article class="u__container">

          <div class="u__spacing">
            <div class="row">
              <div class="col-md-9 col-lg-8">
                <h2 class="h2">nominate folks who are shaping better futures</h2>
                <p class="lead">the Civic Futures Awards will recognize our colleagues who are shaping the future we want to create across state and local government in Central Texas</p>
                <p>Now through August 15th, we’re seeking nominations for teams and individuals leading some our best work across six categories</p>
                <a class="button-text-yo" href="http://bit.ly/civic-futures-awards-nominate"><button class="btn btn-primary mc__button">nominate a person or team</a>
              </div>
            </div>
          </div>

        </article>
      </section>

      <div id="closing-panels">
        &nbsp;
      </div>

      <!-- <section id="updates" class="u__vspacing s__blue target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h2 class="h2">get updates</h2>
              <p class="lead">sign up to get updates on speakers, workshops, and nominees</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section> -->
