---
layout: default
title: Civic Futures Summit / Schedule
nav-title: Schedule
permalink: /schedule
body-class: home
---

<div class="illus__sky">
  <div class="l-wrapper__flex u__container">

    {% include header.html %}

    <main id="content" class="main__content u__spacing pb-0" style="min-width:70%">
      <div id="moving-panels">
        <!-- {% include landscape.html %} -->
      </div>
      <article class="main__article intro">
        <header class="intro__header">
          <h1 class="display-3">schedule</h1>
        </header>
        <h3 class="h4" style="font-weight: 600;">Civic Futures Summit  /  October 1st-2nd, 2019</h3>
        <h3>&nbsp;</h3>
      </article>
    </main>
  </div>
</div>







      <section id="overview" class="u__vspacing s__light">
        <article class="u__container">

          <div class="u__spacing">
            <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

            <div class="container">
              <div class="row" id="workshops-morning">
                <h2 class="h2">Tues, Oct 1st / Morning sessions</h2>







              <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="service-design-tools">
                <h6>Design Track</h6>
                <a href="#service-design-tools-info" data-toggle="collapse" href="#service-design-tools-info" role="button" aria-expanded="false" aria-controls="service-design-tools-info" class="text-dark"><h5 class="h5 pb-2">Tools & Tactics for Service Design & Design Thinking</h5></a>
                <div class="collapse" id="service-design-tools-info">
                <p>Join the leaders of Austin’s <a href="https://odd.austintexas.io/service-design/">Service Design Lab</a> and New York City’s <a href="https://www1.nyc.gov/assets/servicedesign/">Service Design Studio</a> for a workshop on the tools and tactics of user research, service design, and design thinking. Participants will receive an overview of these growing fields, experience practicing a range of methods, and tools and templates to bring back to work the next day.</p>
                </p>

                <div class="row pt-4">
                  <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                    <img src="{{ '/' | relative_url }}assets/img/mari.png" class="mw-100 pb-2" alt="Photo of Mari Nakano" aria-hidden="true">
                  </div>
                  <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                    <p><b>Mari Nakano</b> is Design Director for the <a href="https://www1.nyc.gov/assets/servicedesign/">Service Design Studio</a> in the New York City Mayor's Office of Economic Opportunity, which seeks to make services more accessible, effective, and simple for all New Yorkers. She advises Design for Social Innovation program at the School for Visual Arts and previously served as the Design & Interaction Lead for UNICEF.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                    <img src="{{ '/' | relative_url }}assets/img/luedtke.png" class="mw-100 pb-2" alt="Photo of Chris Luedtke" aria-hidden="true">
                  </div>
                  <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                    <p><b>Chris Luedtke</b> is the Service Design Practices Lead for the <a href="https://odd.austintexas.io/service-design/">Service Design Lab</a> in the City of Austin’s Office of Design & Delivery, where he works to improve services, processes, and policies for initiatives spanning permitting, police oversight, emergency medical services, homelessness, and public health.</p>
                  </div>
                </div>

                </div> <!-- close collapser -->


              </div>



              <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="data-science">
                <h6>Emerging Technology Track</h6>
                <a href="#data-science-info" data-toggle="collapse" href="#data-science-info" role="button" aria-expanded="false" aria-controls="data-science-info" class="text-dark"><h5 class="h5 pb-2">Leveraging Data Science, AI, and Machine Learning in Government</h5></a>
                <div class="collapse" id="data-science-info">
                <p>How should we be thinking about new technologies involving Artificial Intelligence, Data Science, and Machine Learning, and what do we need to know as managers and practitioners to responsibly leverage these opportunities?</p>

                <p>This session will provide an overview of the current state of these methods and technologies, with case studies of the successes (and missteps!) of governments at the state and local level. We’ll talk about the ways that these technologies can help governments scale their impact, while also getting into the details around the risks of bias, bad data, and algorithmic decision-making.</p>

                <p>This session is designed for managers and practitioners working at governments and universities, including division managers, data analysts, and subject matter experts.
                </p>

                <div class="row pt-4">
                  <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                    <img src="{{ '/' | relative_url }}assets/img/kevin-wilson.png" class="mw-100 pb-2" alt="Photo of Kevin Wilson" aria-hidden="true">
                  </div>
                  <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                    <p><b>Kevin Wilson, PhD,</b> is the Head of Data Science for <a href="https://thepolicylab.brown.edu/">The Policy Lab</a> at Brown University, where he partners with state and local government agencies in Rhode Island and across the US. He previously served as Senior Data Scientist for <a href="https://thelab.dc.gov/">The Lab @ DC</a> for the state and local government of Washington, D.C., and Principal Data Scientist for the adaptive learning platform <a href="https://www.knewton.com/">Knewton</a>.</p>
                  </div>
                </div>
                </div> <!-- close collapser -->
              </div>



              <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded">
                <h6>Procurement Track</h6>
                <a href="#procurement-info" data-toggle="collapse" href="#procurement-info" role="button" aria-expanded="false" aria-controls="procurement-info" class="text-dark"><h5 class="h5 pb-2">Buying Technology That Works: How to Evaluate Technologies and Support The Platforms of the Future</h5></a>
                <div class="collapse" id="procurement-info">
                <p>Have you ever been locked into a specific vendor or technology contract, with no room to change based on results that didn’t meet your expectations? Or seen a product delivered that wasn’t actually usable for the people it was intended to serve?</p>
                <p>In this unique setting with only employees of governments and universities, we’ll share toolkits, guidance, and practices you can use to better scope, evaluate, and de-risk technology projects and make them more sustainable, adaptable, and human-centered.</p>
                </p>

                <div class="row pt-4">
                  <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                    <img src="{{ '/' | relative_url }}assets/img/honker.png" class="mw-100 pb-2" alt="Photo of Daniel Honker" aria-hidden="true">
                  </div>
                  <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                    <p><b>Daniel Honker</b> leads the Policy Lab in the City of Austin’s <a href="https://odd.austintexas.io/">Office of Design & Delivery</a> where he focuses on using technology to produce better and more equitable outcomes for people in Austin. He was previously Portfolio Manager for Austin’s Office of Innovation and helped Federal Government agencies improve performance, open government, and use data in decision making.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                    <img src="{{ '/' | relative_url }}assets/img/andrew-do.png" class="mw-100 pb-2" alt="Photo of Andrew Do" aria-hidden="true">
                  </div>
                  <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                    <p><b>Andrew Do</b> is a Service Designer with the City of Austin’s <a href="https://odd.austintexas.io/service-design/">Service Design Lab</a>, which works alongside staff in departments across the city to make Austin's services more accessible, reliable, and effective. and former Policy Analyst for the Brookfield Institute for Innovation + Entrepreneurship in Toronto.</p>
                  </div>
                </div>
                </div> <!-- close collapser -->
            </div>


          <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="writing-for-residents">
            <h6>Accessibility Track</h6>
            <a href="#writing-for-residents-info" data-toggle="collapse" href="#writing-for-residents-info" role="button" aria-expanded="false" aria-controls="writing-for-residents-info" class="text-dark"><h5 class="h5 pb-2">Improving Engagement & Effectiveness By Writing for Residents</h5></a>
            <div class="collapse" id="writing-for-residents-info">
            <p>Do residents come in for the same processes over and over again? Do people come in missing paperwork that you know is necessary? Are you offering valuable services but are unable to attract interest and attention?</p>
            <p>Writing for residents means moving away from language focused on departments and levels of your bureaucracy to language focused on the daily needs of the residents we serve. We’ll discuss how to organize content outside of your org chart, how to shape communications to be service-oriented, and how to write for accessibility across digital platforms and physical environments.</p>
            <p class="pb-2">You’ll leave with methods and tools that will make it easier for you to write content that uses plain language and is accessible for everyone. Please bring a printed page of existing content or a rough draft that you would like to refine, as we’ll have time at the end of the workshop to incorporate what you learned into your draft.</p>

            <div class="row pt-4">
              <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                <img src="{{ '/' | relative_url }}assets/img/annie.png" class="mw-100 pb-2" alt="Photo of Annie Szotkowski" aria-hidden="true">
              </div>
              <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                <p><b>Annie Szotkowski</b> is a Content Strategist for the City of Austin’s <a href="https://odd.austintexas.io/">Office of Design & Delivery</a>, where she leads engagements with departments on writing resident-focuses content around community gardens, composting, and recycling. Previously, Annie led communications and community engagement as a public health educator to promote transportation programs and bicycle policy in Spokane, Washington.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                <img src="{{ '/' | relative_url }}assets/img/rigdon.png" class="mw-100 pb-2" alt="Photo of Sarah Rigdon" aria-hidden="true">
              </div>
              <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                <p><b>Sarah Rigdon</b> is a Content Strategist for the City of Austin’s <a href="https://odd.austintexas.io/">Office of Design & Delivery</a>,  improving content for residents on alpha.austin.gov and streamlining processes for departments across including Austin Public Health and the Office of Police Oversight. Previously, she served on the Open NASA team and as a leader of Code for DC.</p>
              </div>
            </div>
            </div> <!-- close collapser -->
          </div>







          <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="evidence-based-government">
            <h6>Executive Track</h6>
            <a href="#evidence-based-government-info" data-toggle="collapse" href="#evidence-based-government-info" role="button" aria-expanded="false" aria-controls="evidence-based-government-info" class="text-dark">
            <h5 class="h5 pb-2">Building the Capacity for Evidence & Data in Government</h5>
            </a>
            <div class="collapse" id="evidence-based-government-info">
            <p>It’s not uncommon to want government to be “evidence-based” but what does that actually mean in practice?</p>
            <p>Join David Yokum, who’s led efforts at the federal, state, and local level to bring scientific research to policymaking on efforts spanning public works, early childhood education, public health, and public safety, including the world’s largest field study of police body-worn cameras. This session will speak to the social, political, and technical infrastructures that are necessary for evidence-based government to be successful, with case studies on how this works for elected officials, department directors, university researchers, and members of community organizations.</p>
            </p>

            <div class="row pt-4">
              <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                <img src="{{ '/' | relative_url }}assets/img/yokum.png" class="mw-100 pb-2" alt="Photo of David Yokum" aria-hidden="true">
              </div>
              <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                <p><b>David Yokum, JD, PhD,</b> leads <a href="https://thepolicylab.brown.edu/">The Policy Lab</a> at Brown University, which is introducing a new model for academic research in state and local government. He was previously a founding member of the White House Social & Behavioral Sciences Team and director of <a href="https://thelab.dc.gov/">The Lab @ DC</a>, one of the first scientific labs within a local government.</p>
              </div>
            </div>
            </div> <!-- close collapser -->

          </div>



        </div>




    </div>

    </div> <!-- close container -->

        </article>
      </section>



      <section id="overview" class="u__vspacing s__green">
        <article class="u__container">

          <div class="u__spacing">
            <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

            <div class="container">
              <div class="row pt-4" id="workshops-morning">
                <h2 class="h2">Tues, Oct 1st / Afternoon sessions</h2>


                <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="community-driven-design">
                  <h6>Design Track</h6>
                  <a href="#community-driven-design-info" data-toggle="collapse" href="#community-driven-design-info" role="button" aria-expanded="false" aria-controls="community-driven-design-info" class="text-dark"><h5 class="h5 pb-2">Community-Driven Design for Better Technology, Programs, and Policies</h5></a>
                  <div class="collapse" id="community-driven-design-info">
                  <p>How do the practices of service design and design thinking work in the real world of delivering government services and creating better policies? How can we engage the whole community in the process? In this workshop, leaders from Austin’s <a href="https://odd.austintexas.io/service-design/">Service Design Lab</a> and New York City’s <a href="https://www1.nyc.gov/assets/servicedesign/">Service Design Studio</a> will cover methods for collaborative design, stakeholder engagement, and community outreach that can improve outcomes, strengthen communities, and change policy for the future.</p>
                  </p>


                  <div class="row pt-4">
                    <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                      <img src="{{ '/' | relative_url }}assets/img/luedtke.png" class="mw-100 pb-2" alt="Photo of Chris Luedtke" aria-hidden="true">
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                      <p><b>Chris Luedtke</b> is the Service Design Practices Lead for the <a href="https://odd.austintexas.io/service-design/">Service Design Lab</a> in the City of Austin’s Office of Design & Delivery, where he works to improve services, processes, and policies for initiatives spanning permitting, police oversight, emergency medical services, homelessness, and public health.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                      <img src="{{ '/' | relative_url }}assets/img/mari.png" class="mw-100 pb-2" alt="Photo of Mari Nakano" aria-hidden="true">
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                      <p><b>Mari Nakano</b> is Design Director for the <a href="https://www1.nyc.gov/assets/servicedesign/">Service Design Studio</a> in the New York City Mayor's Office of Economic Opportunity, which seeks to make services more accessible, effective, and simple for all New Yorkers. She advises Design for Social Innovation program at the School for Visual Arts and previously served as the Design & Interaction Lead for UNICEF.</p>
                    </div>
                  </div>
                  </div> <!-- close collapser -->

                </div>


                <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded">
                  <h6>Emerging Technology Track</h6>
                  <a href="#procurement-2-info" data-toggle="collapse" href="#procurement-2-info" role="button" aria-expanded="false" aria-controls="procurement-2-info" class="text-dark"><h5 class="h5 pb-2">Buying Technology That Works: How to Evaluate Technologies and Support The Platforms of the Future</h5></a>
                  <div class="collapse" id="procurement-2-info">
                  <p>Have you ever been locked into a specific vendor or technology contract, with no room to change based on results that didn’t meet your expectations? Or seen a product delivered that wasn’t actually usable for the people it was intended to serve? In this unique setting with only employees of governments and universities, we’ll share toolkits, guidance, and practices you can use to better scope, evaluate, and de-risk technology projects and make them more sustainable, adaptable, and human-centered.</p>
                  </p>


                  <div class="row pt-4">
                    <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                      <img src="{{ '/' | relative_url }}assets/img/honker.png" class="mw-100 pb-2" alt="Photo of Daniel Honker" aria-hidden="true">
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                      <p><b>Daniel Honker</b> leads the Policy Lab in the City of Austin’s <a href="https://odd.austintexas.io/">Office of Design & Delivery</a> where he focuses on using technology to produce better and more equitable outcomes for people in Austin. He was previously Portfolio Manager for Austin’s Office of Innovation and helped Federal Government agencies improve performance, open government, and use data in decision making.</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                      <img src="{{ '/' | relative_url }}assets/img/andrew-do.png" class="mw-100 pb-2" alt="Photo of Andrew Do" aria-hidden="true">
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                      <p><b>Andrew Do</b> is a Service Designer with the City of Austin’s <a href="https://odd.austintexas.io/service-design/">Service Design Lab</a>, which works alongside staff in departments across the city to make Austin's services more accessible, reliable, and effective. and former Policy Analyst for the Brookfield Institute for Innovation + Entrepreneurship in Toronto.</p>
                    </div>
                  </div>
                  </div> <!-- close collapser -->

                </div>



                <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="agile-investing">
                  <h6>Procurement Track</h6>
                  <a href="#agile-investing-info" data-toggle="collapse" href="#agile-investing-info" role="button" aria-expanded="false" aria-controls="agile-investing-info" class="text-dark"><h5 class="h5 pb-2">Spend Less, Build Better: Applying Venture Capital Methods to Government Technology Investing</h5></a>
                  <div class="collapse" id="agile-investing-info">
                  <p>Before we can waste a lot of money on bad technology, someone has to <i>agree</i> to waste all that money. Join the founder of the federal government’s <a href="https://10x.gsa.gov/">10x</a> investment program for a conversation about how we fund technology projects, and how we can avoid the pitfalls of huge procurements running late and over-budget. We’ll share real-world examples of governments building on the success of venture capital, by uncovering and elevating the most promising ideas from the federal workforce, then starting funding small and increasing their investment as ideas mature into a sustainable projects.</p>
                  </p>

                  <div class="row pt-4">
                    <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                      <img src="{{ '/' | relative_url }}assets/img/lane-becker.png" class="mw-100 pb-2" alt="Photo of Lane Becker" aria-hidden="true">
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                      <p><b>Lane Becker</b> is the program manager of <a href="https://10x.gsa.gov/">10x</a>, an incremental investment program of the Technology Transformation Service (TTS) in the U.S. General Services Administration. Previously, he served as Director of Products & Startups for Code for America, as a co-founder of leading customer support platform Get Satisfaction, and as a co-founder of one of the first agency dedicated to user experience design, Adaptive Path.</p>
                    </div>
                  </div>
                </div> <!-- close collapser -->


                </div>











              <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="accessibility">
                <h6>Accessibility Track</h6>
                <a href="#accessibility-info" data-toggle="collapse" href="#accessibility-info" role="button" aria-expanded="false" aria-controls="accessibility-info" class="text-dark"><h5 class="h5 pb-2">Making Government Accessible: Working with Residents to Redesign Services</h5></a>
                <div class="collapse" id="accessibility-info">
                <p>What does it mean to be accessible? How do we ensure that the design and delivery of our services matches with the experience and reality of residents. Join members of Austin's Service Design Lab and Policy Lab for a discussion about the different dimensions of accessibility and how they impact residents’ experiences when entering into and receiving services. We’ll share tools and practices for identifying barriers in services and guidance on how to make services more accessible, impactful, and meaningful for residents through co-design.</p>

                <div class="row pt-4">
                  <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                    <img src="{{ '/' | relative_url }}assets/img/sarah-rodriguez.png" class="mw-100 pb-2" alt="Photo of Sarah Rodriguez" aria-hidden="true">
                  </div>
                  <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                    <p><b>Sarah Rodriguez</b> is a Data & Systems Analyst with the City of Austin’s <a href="https://odd.austintexas.io/">Office of Design & Delivery</a>, where she works across city departments to improve programs through better processes around data management, analysis, and user-centered design.</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                    <img src="{{ '/' | relative_url }}assets/img/manlin.png" class="mw-100 pb-2" alt="Photo of Manlin Yao" aria-hidden="true">
                  </div>
                  <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                    <p><b>Manlin Yao</b> is a User Researcher at the City of Austin’s <a href="https://odd.austintexas.io/service-design/">Service Design Lab</a>, where she works to improve services, processes, and policies for initiatives spanning service access, homelessness, and public health.</p>
                  </div>
                </div>
                </div> <!-- close collapser -->


              </div>



                <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded" id="data-science-executives">
                  <h6>Executive Track</h6>
                  <a href="#data-science-exec-info" data-toggle="collapse" href="#data-science-exec-info" role="button" aria-expanded="false" aria-controls="data-science-exec-info" class="text-dark"><h5 class="h5 pb-2">Leveraging Data Science, AI, and Machine Learning in Government: For Directors and Executives</h5></a>
                  <div class="collapse" id="data-science-exec-info">
                  <p>How should government leaders be thinking about new technologies involving Artificial Intelligence, Data Science, and Machine Learning, and what do we need to know to responsibly leverage these opportunities? This session will provide an overview of the current state of these methods and technologies, with case studies of the successes (and missteps) of governments at the state and local level. We’ll talk about the ways that these technologies can help governments scale their impact, while also getting into the details around the risks of bias, bad data, and algorithmic decision-making.</p>
                  <p>This session is designed for department directors, executives, and elected officials.</p>

                  <div class="row pt-4">
                    <div class="col-md-4 col-lg-4 col-sm pb-sm-2">
                      <img src="{{ '/' | relative_url }}assets/img/kevin-wilson.png" class="mw-100 pb-2" alt="Photo of Kevin Wilson" aria-hidden="true">
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm pb-sm-2">
                      <p><b>Kevin Wilson, PhD,</b> is the Head of Data Science for <a href="https://thepolicylab.brown.edu/">The Policy Lab</a> at Brown University, where he partners with state and local government agencies in Rhode Island and across the US. He previously served as Senior Data Scientist for <a href="https://thelab.dc.gov/">The Lab @ DC</a> for the state and local government of Washington, D.C., and Principal Data Scientist for the adaptive learning platform <a href="https://www.knewton.com/">Knewton</a>.</p>
                    </div>
                  </div>
                  </div> <!-- close collapser -->

                </div>











    </div>

    </div> <!-- close container -->

        </article>
      </section>

      <section id="mainstage" class="u__vspacing s__gray">
        <article class="u__container">

          <div class="u__spacing">
            <!-- <h2 class="h4 text-center text-uppercase font-weight-bold text-blue">Section Header</h2> -->

            <div class="container">
              <div class="row">
                <h2 class="h2">Wed, Oct 2nd / Mainstage Presentations</h2>


          <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded">
            <h5 class="h5 pb-2">Keynote: The Civic Economy and the Future of Public-Private Partnerships</h5>

            <div class="row pt-2" id="indy-johar">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/indy.png" class="mw-100 pb-2" alt="Photo of Indy Johar" aria-hidden="true">
              </div>
              <div class="col-md-8 col-lg-8">
                <h4 class="h5">Indy Johar</h4>
                <h6>Co-founder of <a href="https://www.project00.cc/">00</a> & <a href="http://darkmatterlabs.org/">Dark Matter Labs</a></h6>
                <p>Indy is a London-based architect and strategist who helps multinational companies and institutions transition to a positive systems economy. He's a co-author of the UK's <a href="https://www.nesta.org.uk/report/a-compendium-for-the-civic-economy/">Compendium for the Civic Economy</a>, and supports experiments around open-source architecture, public-private partnerships, and new forms of governance.</p>
              </div>
            </div>
          </div>

          <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded">
            <h5 class="h5 pb-2">Panel on Artificial Intelligence, Automation, and the Future of Work</h5>

              <div class="row pt-2" id="jen-sukis">
                <div class="col-md-4 col-lg-4">
                  <img src="{{ '/' | relative_url }}assets/img/sukis.png" class="mw-100 pb-2" alt="Photo of Jen Sukis" aria-hidden="true">
                </div>
                <div class="col-md-8 col-lg-8">
                  <h4 class="h5">Jen Sukis</h4>
                  <h6>Adjunct Professor, University of Texas</h6>
                  <p>Jen works at the intersection of user-centered design and artificial intelligence, leading the creative team for IBM Watson and teaching <a href="https://medium.com/advanced-design-for-ai/syllabus-for-advanced-design-for-artificial-intelligence-62093e93ce44">Advanced Design for AI</a> at UT’s Center for Integrated Design, enabling strategists, designers, and engineers to use cognitive tools to create transformative AI experiences.</p>
                </div>
              </div>
            </div>



          <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded">
            <h5 class="h5 pb-2">What's Beyond Evidence-Based Government?</h5>

              <div class="row pt-2" id="david-yokum">
                <div class="col-md-4 col-lg-4">
                  <img src="{{ '/' | relative_url }}assets/img/yokum.png" class="mw-100 pb-2" alt="Photo of David Yokum" aria-hidden="true">
                </div>
                <div class="col-md-8 col-lg-8">
                  <h4 class="h5">David Yokum</h4>
                  <h6>Director, The Policy Lab</h6>
                  <p>David leads <a href="https://thepolicylab.brown.edu/">The Policy Lab</a> at Brown University, which is introducing a new model for academic research in state and local government. He was previously a founding member of the White House Social & Behavioral Sciences Team and director of <a href="https://thelab.dc.gov/">The Lab @ DC</a>, one of the first scientific labs within a local government.</p>
                </div>
              </div>
            </div>



          <div class="col-md-10 col-lg-10 col-sm pt-5 mb-4 border-top border-dark rounded">
            <h5 class="h5">Ethical O/S: How Can We Approach the Ethics of Emerging Technologies?</h5>

            <div class="row pt-2" id="jake-dunagan">
              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/jake.png" class="mw-100 pb-2" alt="Photo of Jake Dunagan" aria-hidden="true">
              </div>
              <div class="col-md-8 col-lg-8">
                <h4 class="h5">Jake Dunagan</h4>
                <h6>Director, Governance Futures Lab</h6>
                <p>Jake is an experiential futurist, governance designer, and teacher. He leads the Governance Futures Lab at the <a href="http://www.iftf.org/home/">Institute for the Future</a>, which brings together futures thinkers, technologists, philanthropists, designers, policymakers, and social innovators to re-imagine government for the 21st century.</p>
              </div>
            </div>

            </div>













          </div>
        </div>

        </div> <!-- close container -->

        </article>


      </section>


      <section id="awards" class="u__vspacing s__white">
        <article class="u__container">

          <div class="u__spacing">



            <div class="row">
              <h2 class="h2 mb-4 pb-3 border-bottom border-dark rounded">Wed, Oct 2nd, Evening / The Civic Futures Awards</h2>


              <div class="col-md-4 col-lg-4">
                <img src="{{ '/' | relative_url }}assets/img/civic-futures-awards.png" class="mw-100 pb-2" alt="Civic Futures Awards Trophy" aria-hidden="true">
              </div>
              <div class="col-md-8 col-lg-8 pt-4">
                <p class="lead">The Civic Futures Awards will recognize our colleagues who are shaping the future we want to create across state and local government in Central Texas</p>
                <p>We’re seeking nominations for teams and individuals leading some of our best work across six categories</p>
                <a class="button-text-yo" href="/awards"><button class="btn btn-primary mc__button">learn more</a>
              </div>

          </div>
          </div>

        </article>
      </section>


      <section id="register" class="u__vspacing s__gray">
        <article class="u__container">

          <div class="u__spacing">
            <div class="row">
              <div class="col-md-9 col-lg-8">
                <h2 class="h2">get tickets</h2>
                <p class="lead">the summit is open to anyone who is currently an employee of a government or non-profit academic institution. join us for two days of sharing approaches, exploring new collaborations, and celebrating work across the region</p>
                <p>City of Austin employees can register internally with <a href="http://bit.ly/CoA-Summit-Registration">this form</a></p>
                <a class="button-text-yo" href="https://www.eventbrite.com/e/civic-futures-summit-central-texas-tickets-64739719243?aff=summitwebsite"><button class="btn btn-primary mc__button">register on eventbrite</a>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-3 col-lg-4">
                <h3 class="">founding partners</h3>
                <img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-building-coalitions.svg" alt="" aria-hidden="true" />
                <img class="theory__icon" src="{{ '/' | relative_url }}assets/img/icon-building-coalitions.svg" alt="" aria-hidden="true" />
              </div>
            </div> -->
          </div>

        </article>
      </section>




      <div id="closing-panels">
        &nbsp;
      </div>

      <!-- <section id="updates" class="u__vspacing s__blue target-cynosure">
        <article class="u__container u__spacing connect">
          <div class="row">
            <div class="col-md-9 col-lg-8">
              <h2 class="h2">get updates</h2>
              <p class="lead">sign up to get updates on speakers, workshops, and nominees</em> </p>

              {% include mailchimp.html %}

            </div>
          </div>
        </article>
      </section> -->
