            <div class="team__member col-6 col-md-4 col-lg-3 u__vspacing-b">
              <a href="{{ '/' | relative_url }}{{ member.permalink }}" class="team__link">
                <div class="">
                  <img src="{{ '/' | relative_url }}assets/img/team/{{ member.img }}" class="img--rwd" alt="" aria-hidden="true">
                </div>
                <h5>{{ member.title }}</h5>
              </a>
                  <p>{{ member.organization }}</p>
                  <p>{{ member.teamname }}</p>
            </div>
