---
layout: default
body-class: team
---
{% comment %}

  Team member object:
  - page.title
  - page.permalink
  - page.organization
  - page.teamname
  - page.problem
  - page.solution
  - page.sustainable
  - page.advice
  - page.img (example.jpg)
  - page.linkedin (full url)
  - page.twitter (full url)
  - page.content

{% endcomment %}

{% include header.html %}

<main id="content" class="layout__main bg-light">

  <section class="awards_profile">

    <div class="u__container">
        <img class="pt-4 pb-4" src="{{ '/' | relative_url }}assets/img/team/{{ page.img }}" alt="">
        <h1 class="h2 col-lg-10">{{ page.title }}</h1>
        <h3 class="h4 col-lg-10">{{ page.organization }}</h3>
        <h4 class="h5 col-lg-10 pb-4">{{ page.teamname }}</h4>
    </div>
    <article class="container u__container">
      <div class="row">

        <div class="col-sm-8 col-lg-7">
          <h5>The problem</h5>
          <p>{{ page.problem }}</p>
          <h5>Solution / Approach</h5>
          <p>{{ page.solution }}</p>
        </div>

      </div>
      <div class="row">

        {{ content }}

      </div>
      <div class="row">
        <div class="col-sm-8 col-lg-6">
          <h5>What can make it sustainable?</h5>
          <p>{{ page.sustainable }}</p>
        </div>
        <div class="col-sm-8 col-lg-6">
          <h5>Advice to others</h5>
          <p>{{ page.advice }}</p>
        </div>
      </div>



    </article>
  </section>
  {% comment %}
  <footer class="u__vspacing s__light">
    <div class="u__container">
      <div class="u__spacing">
        <h2 class="h1 text-center">2019 Nominees</h2>
      </div>
      <div class="container u__spacing team py-0">
        <div class="row justify-content-center">
          {% for member in site.team %}
            {% if page.title != member.title %}
              {% include team-teaser.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </footer>
  {% endcomment %}
</main>
