---
layout: default
body-class: team
---
{% comment %}

  Team member object:
  - page.title
  - page.permalink
  - page.organization
  - page.teamname
  - page.img (example.jpg)
  - page.linkedin (full url)
  - page.twitter (full url)
  - page.content

{% endcomment %}

{% include header.html %}

<main id="content" class="layout__main team">

  <section class="awards_profile">
    <h2>The Civic Futures Awards</h2>
    <h5 class="pb-4">Central Texas, 2019</h5>

    <div class="u__container">
        <img class="pb-4" src="{{ '/' | relative_url }}assets/img/team/{{ page.img }}" alt="">
        <h1 class="h2 font-weight-light">{{ page.title }}</h1>
        <h3 class="h4">{{ page.organization }}</h3>
        <h4 class="h5 pb-4">{{ page.teamname }}</h4>
    </div>
    <article class="container u__container">
      <div class="row">

        <div class="col-sm-8 col-lg-7">
          {{ content }}
        </div>
      </div>
    </article>
  </section>
  {% comment %}
  <footer class="u__vspacing s__light">
    <div class="u__container">
      <div class="u__spacing">
        <h2 class="h1 text-center">2019 Nominees</h2>
      </div>
      <div class="container u__spacing team py-0">
        <div class="row justify-content-center">
          {% for member in site.team %}
            {% if page.title != member.title %}
              {% include team-teaser.html %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </footer>
  {% endcomment %}
</main>
